
html, body {width: auto!important; overflow-x: hidden!important} 
body {
  margin: 0;
  padding: 0;
}
.homepage-container {
  background-image: url("/assets/wallpaper-one.jpeg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}